/* Estilo de fondo para el body */
body {
  background-image: url(/imag/jackson-hendry-eodA_8CTOFo-unsplash.jpg/);
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
}

.titulo {
  background-color: rgba(255, 255, 255, 0.274);
  border: 5px solid black;
  width: fit-content;
  padding: 2px 2em;
  border-radius: 15%;
  font-size: 30px;
  margin: auto;
  margin-bottom: 20px;
  transition: background-color 1s;
}

.title {
  font-size: 40px; 
}

.cards {
  display: flex;
  align-items: center;
  border: 5px solid black;
  width: 20vw;
  padding: 3em;
  margin: auto;
  border-radius: 15%;
  font-size: 15px;
  transition: background-color 1s;
}

.cardscss {
  display: flex;
  align-items: center;
  border: 5px solid black;
  width: 20vw;
  padding: 3em;
  margin: auto;
  border-radius: 15%;
  font-size: 1em;
  transition: background-color 1s;
}

#css {
  width: 10em;
  height: 10em;
}

/* Estilo para el primer párrafo dentro de las tarjetas */
.cards p:first-child {
  margin-left: 100em;
}

/* Establece el tamaño de la imagen dentro de las tarjetas */
.cards img {
  width: 10em;
  height: auto;
}

/* Establece el color de fondo al pasar el mouse sobre las tarjetas */
.cards:hover {
  background-color: rgba(255, 255, 255, 0.349);
}

.cardscss:hover {
  background-color: rgba(255, 255, 255, 0.349);
}



/* Estilo para los títulos */
#titulos {
  border: 5px solid black;
  width: 65vw;
  margin: auto;
  padding: 3em;
  border-radius: 15%;
}

#titulos2 {
  border: 5px solid black;
  width: 80vw;
  margin: auto;
  padding: 3em;
  border-radius: 15%;
}
#fotoPrincipal {
  display: flex; /* Utiliza flexbox para organizar los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  width: 50vw;
  padding: 3em;
  margin: auto;
  border-radius: 15%;
  font-size: 15px;
}

#fotoPrincipal img {
  width: 100px; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Mantén la proporción de la imagen */
  margin-right: 20px; /* Espacio entre la imagen y el párrafo */
}

#fotoPrincipal p {
  margin: 0; /* Elimina los márgenes por defecto del párrafo */
}

#tecnologias {

   
    width: 35vw;
    margin: auto;
    padding: 3em;
    border-radius: 15%;
  }

  #sobreMi {
    font-size: 3em;
    margin: auto;
    padding: 0.1em;
  }

  h1 {
    margin-bottom: 20px; /* Agrega un margen en la parte inferior del elemento h1 */
  }
  
  h2 {
    margin-top: 20px; /* Agrega un margen en la parte superior del elemento h2 */
  }

  /*inicio css menu superior*/
ul.menu li{
  display: inline;
  padding-right: 0.5em;    
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: small;
  font-weight: bold;
  color: white;     
}

ul.menu li:hover{
  background-color:rgba(0, 0, 0, 0.9);
  font-size:medium;
}

.linkMenu:link, .linkMenu:visited, .linkMenu:active{
  text-decoration:none;
  color: white;
}
/*final css menu superior*/

.claseform{
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 5%;
  border-radius: 7px;
}

#MisActividadesFavoritas{
    font-size: 3em;
    margin: auto;
    padding: 0.5em;
}

input, textarea, button{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
}
textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}













#contaner_activities{
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;    
  margin-top: 20px;
  border-radius: 7px;    
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;    
  overflow: auto;
  text-overflow: ellipsis;
}
.cardDiv{
  border: 1px;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;    
}
.cardTitle{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
.cardDescription{
  font-family: sans-serif;
  background-color: rgb(250, 250, 0);
  padding: 10px;
  border-radius: 7px;    
}
.cardImg{
  padding: 10px;
  border-radius: 15px;
}
/* Estilos para dispositivos móviles (teléfonos) */
@media only screen and (max-width: 767px) {
  /* Agrega tus estilos para dispositivos móviles aquí */
  .container {
    width: 90%; /* Porcentaje del ancho de la pantalla */
    margin: 0 auto; /* Centrar el contenedor */
  }
}

/* Estilos para pantallas más grandes (como tablets y computadoras) */
@media only screen and (min-width: 768px) {
  /* Agrega tus estilos para pantallas más grandes aquí */
  .container {
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto; /* Centrar el contenedor */
  }
}


/*fin estilos cards atividades*/